<nav>
    <div class="site-title">
        <a href="/"><h1>Blogger's Spot</h1></a>
        <p>A site to blog up on....</p>
    </div>
    <ul>
        <li><a href="/">All Blogs</li>
        <li><a href="/about">About the Blogs</a></li>
        <li><a href="/blogs/create"> Create a New Blog</a></li>
    </ul>
</nav>